@model IEnumerable<ASP_NET_Core.Models.Appoinment>

@(Html.DevExtreme().Scheduler()
    .ID("scheduler")
    .DataSource(Model)
    .TextExpr("Text")
    .StartDateExpr("StartDate")
    .EndDateExpr("EndDate")
    .Views(views =>
    {
        views.Add()
            .Type(SchedulerViewType.TimelineDay)
            .IntervalCount(3);
    })
    .CurrentView(SchedulerViewType.TimelineDay)
    .CurrentDate(new DateTime(2021, 5, 3))
    .FirstDayOfWeek(FirstDayOfWeek.Monday)
    .StartDayHour(9)
    .EndDayHour(19)
    .CellDuration(60)
    .ShowAllDayPanel(false)
    .Height(600)
    .DataCellTemplate(new JS("dataCellTemplate"))
    .OnAppointmentFormOpening("onAppointmentFormOpening")
    .OnAppointmentAdding("onAppointmentChanging")
    .OnAppointmentUpdating("onAppointmentChanging")
)

<script>
    var dinnerTime = { start: 12, end: 13 };

    var holidays = [
        {
            date: new Date(2021, 4, 4),
            name: 'Star Wars Day'
        }
    ];

    function dataCellTemplate(itemData, itemIndex, itemElement) {
        var startDate = itemData.startDate;
        var endDate = itemData.endDate;

        var isHolidayCell = isHoliday(startDate, endDate);
        var isDinnerCell = isDinner(startDate, endDate);

        var element;

        if (isHolidayCell) {
            const holiday = getHoliday(startDate, endDate);
            element = $(`<div>${holiday.name}</div>`);
            element.addClass('holiday');
        } else if (isDinnerCell) {
            element = $('<div>Dinner time</div>');
            element.addClass('dinner');
        }

        return itemElement.append(element);
    }

    function isThatHoliday(holiday, startDate, endDate) {
        return holiday.date.toLocaleDateString() === startDate.toLocaleDateString() &&
            holiday.date.toLocaleDateString() === endDate.toLocaleDateString();
    }

    function isHoliday(starDate, endDate) {
        return holidays.some(function (holiday) {
            return isThatHoliday(holiday, starDate, endDate);
        });
    }

    function getHoliday(startDate, endDate) {
        for (var i = 0; i < holidays.length; i++) {
            if (isThatHoliday(holidays[i], startDate, endDate)) {
                return holidays[i];
            }
        }
    }

    function hasIntersect(startA, endA, startB, endB) {
        if ((startA <= startB && endB <= endA) ||
            (startB <= startA && endA <= endB)) {
            return true;
        }

        return (startA < startB && startB < endA) ||
            (startA < endB && endB < endA);
    }

    function isDinner(startDate, endDate) {
        var todayDinnerStart = new Date(startDate).setHours(dinnerTime.start, 0, 0, 0);
        var todayDinnerEnd = new Date(endDate).setHours(dinnerTime.end, 0, 0, 0);

        return hasIntersect(
            todayDinnerStart, todayDinnerEnd,
            startDate.getTime(), endDate.getTime()
        );
    }

    function onAppointmentChanging(e) {
        var startDate = e.appointmentData
            ? new Date(e.appointmentData.StartDate)
            : new Date(e.newData.StartDate);

        var endDate = e.appointmentData
            ? new Date(e.appointmentData.EndDate)
            : new Date(e.newData.EndDate);

        if (!isValidAppointmentDate(startDate, endDate)) {
            e.cancel = true;
            notifyDisableDate();
        }
    }

    function onAppointmentFormOpening(e) {
        var startDate = new Date(e.appointmentData.startDate);
        var endDate = new Date(e.appointmentData.endDate);

        if (!isValidAppointmentDate(startDate, endDate)) {
            e.cancel = true;
            notifyDisableDate();
        }
        applyDisableDatesToDateEditors(e.form);
    }

    function isValidAppointmentDate(startDate, endDate) {
        return !isHoliday(startDate, endDate) && !isDinner(startDate, endDate);
    }

    function applyDisableDatesToDateEditors(form) {
        var holidaysList = [];
        for (var i = 0; i < holidays.length; i++) {
            holidaysList.push(holidays[i].date);
        }

        var startDateEditor = form.getEditor('StartDate');
        startDateEditor.option('disabledDates', holidaysList);

        var endDateEditor = form.getEditor('EndDate');
        endDateEditor.option('disabledDates', holidaysList);
    }

    function notifyDisableDate() {
        DevExpress.ui.notify("This date is disabled", "warning", 500);
    }
</script>